.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.tabContainer {
  display: flex;
  margin-bottom: 20px;
  /* position: relative; */
}

.tabContainerActive {
  position: absolute;
  background: #468EF7;
  transition: clip-path 0.3s var(--ease-out-expo);
}

.tabContainerActive.tab0 {
  clip-path: inset(0 75% 0 0% round 17px);
}

.tabContainerActive.tab1 {
  clip-path: inset(0 52% 0 25% round 17px);
}

.tabContainerActive.tab2 {
  clip-path: inset(0 27% 0 49% round 17px);
}

.tabContainerActive.tab3 {
  clip-path: inset(0 0% 0 74% round 17px);
}

.tabContainerActive .tab {
  color: white;
}

.tab {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  border: none;
  box-shadow: none;
  background: none;
}

.icon {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.content {
  padding: 20px;
  border-radius: 8px;
  background: #f8f9fa;
} 