.card {
  width: 340px;
  height: 340px;
  border-radius: 16px;
  background: #fff;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  overflow: hidden;
  box-shadow:
    0px 0px 0px 1px rgba(9, 9, 11, 0.08),
    0px 1px 2px -1px rgba(9, 9, 11, 0.08),
    0px 2px 4px 0px rgba(9, 9, 11, 0.04);
}

.card:hover .cardDescription,
.card:focus-visible .cardDescription {
  transform: translateY(0);
}

.cardDescription {
  border-radius: 12px;
  border: 1px solid #fff;
  position: relative;
  background: #fafafa;
  margin: 6px;
  width: 100%;
  padding: 10px 14px 13px;
  font-size: 13px;
  box-shadow:
    0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px -1px rgba(0, 0, 0, 0.08),
    0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  transition: transform 0.3s cubic-bezier(.25, .46, .45, .94);
  transform: translateY(calc(100% + 7px));
}

.cardIcon {
  position: absolute;
  top: 16px;
  right: 16px;
}

.cardTitle {
  color: #1b1b1d;
  font-weight: 500;
}

.cardSubtitle {
  color: #717175;
  line-height: 1;
  margin-top: 4px;
}